.wrapper {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

@media (min-width: 780.82px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 1200.78px) {
  .wrapper {
    max-width: 1140px;
  }
}

@media (min-width: 1500px) {
  .wrapper {
    max-width: 1440px;
  }
}

.wrapper-fluid {
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.row-revers {
  flex-direction: row-reverse;
}

.cl-1,
.cl-2,
.cl-3,
.cl-4,
.sm-1,
.sm-2,
.sm-3,
.sm-4,
.sm-5,
.sm-6,
.sm-7,
.sm-8,
.md-1,
.md-2,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.md-10,
.md-11,
.md-12,
.lg-1,
.lg-2,
.lg-3,
.lg-4,
.lg-5,
.lg-6,
.lg-7,
.lg-8,
.lg-9,
.lg-10,
.lg-11,
.lg-12 {
  position: relative;
  width: 100%;
  padding: 0 10px;
  min-height: 1px;
}

.cl {
  max-width: 100%;
  flex: 0 0 100%;
}

.cl-1 {
  max-width: 25%;
  flex: 0 0 25%;
}

.cl-2 {
  max-width: 50%;
  flex: 0 0 50%;
}

.cl-3 {
  max-width: 75%;
  flex: 0 0 75%;
}

.cl-4 {
  max-width: 100%;
  flex: 0 0 100%;
}

@media (min-width: 780.82px) {
  .sm {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .sm-1 {
    max-width: 12.5%;
    flex: 0 0 12.5%;
  }

  .sm-2 {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .sm-3 {
    max-width: 37.5%;
    flex: 0 0 37.5%;
  }

  .sm-4 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .sm-5 {
    max-width: 62.5%;
    flex: 0 0 62.5%;
  }

  .sm-6 {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .sm-7 {
    max-width: 87.5%;
    flex: 0 0 87.5%;
  }

  .sm-8 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (min-width: 1200.78px) {
  .md {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .md-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%;
  }

  .md-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%;
  }

  .md-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .md-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
  }

  .md-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%;
  }

  .md-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .md-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%;
  }

  .md-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%;
  }

  .md-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .md-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%;
  }

  .md-11 {
    max-width: 91.66667%;
    flex: 0 0 91.66667%;
  }

  .md-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (min-width: 1500px) {
  .lg {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .lg-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%;
  }

  .lg-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%;
  }

  .lg-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .lg-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
  }

  .lg-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%;
  }

  .lg-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .lg-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%;
  }

  .lg-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%;
  }

  .lg-9 {
    max-width: 75%;
    flex: 0 0 75%;
  }

  .lg-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%;
  }

  .lg-11 {
    max-width: 91.66667%;
    flex: 0 0 91.66667%;
  }

  .lg-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
